# Blacklist files/folders in same directory as the .gitignore file
/*

# whitlist files
!.gitignore
!.zshrc
!.p10k.zsh

!/.config
/.config/**

!/.config/nvim
!/.config/nvim/**
.config/nvim/lua/packer_compiled.lua

